<div class="errors">
<% if @errors %>
<% @errors.each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>
</div>
<form action="/events/create" method="post">
  <input type="text" name="event[organizer_name]" placeholder="organizer name">
  <input type="text" name="event[organizer_email]" placeholder="organizer email">
  <input type="text" name="event[title]" placeholder="event title">
  <input type="date" name="event[date]" placeholder="date">
  <input type="submit" value="create event">
</form>


